.movie_item {
    width: 320px;
    height: 140px;
    list-style: none;
    padding: 8px 15px;
    border: 2px solid #eb5d3d;
    border-radius: 10px;
    margin: 25px 0;
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(235, 93, 61, 0.4);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.title {
    margin: 0;
    font-size: 23px;
}

.year {
    font-size: 18px;
}

.format {
    font-size: 19px;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 80px;
    height: 37px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eb5d3d;
    border: 2px solid #eb5d3d;
    background-color: #fff;
    transition: all 200ms linear;
    cursor: pointer;
}

.button:hover {
    color: #fff;
    background-color: #eb5d3d;
}

.button:active {
    background-color: #da4d2d;
}

.button:disabled {
    background-color: silver;
    color: #fff;
    border: 2px solid silver;
}